@import url('https://fonts.googleapis.com/css?family=Francois+One');

/*#nav {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}*/
#item-view .accordion-button {
/*  text-align: left;
  justify-content: center;
  font-weight: bold;
  height: calc(30px + 1vmax);
  width: 95%;
  cursor: pointer;*/
  background-color: #fff;
}
.navbar-header-promo {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #f2859a;
  align-items: center;
  color: #fff;
  text-align: center;
}

.navbar-promo-pretitle {
  vertical-align: middle;
  font: .76rem helvetica, arial, sans-serif;
  letter-spacing: .02rem;
  padding: 0 10px;
}

.navbar-promo-title {
  vertical-align: middle;
  margin: 0;
  font: 1.23rem "Francois One", sans-serif;
  letter-spacing: .03rem;
  text-transform: uppercase;
  padding: 0 40px;
}

.navbar-promo-link-container {
  vertical-align: middle;
  padding: 0 10px 3px 10px;
}

.navbar-promo-link {
  color: inherit;
  vertical-align: middle;
  font: .76rem helvetica, arial, sans-serif;
}

.navbar-navigation-container {
  width: calc(100% - 440px);
  max-width: 1000px;
}

.navbar-navigation-main {
  display: flex;
  justify-content: center;
  min-width: 342px;
  max-width: 860px;
  margin-left: 150px;
}

.navbar-header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0 30px;
  z-index: 100;
  background-color: #fff;
}

.navbar-navigation-upper {
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font: .76rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  color: #222;
}

.navbar-navigation-upper li {
  box-sizing: border-box;
  padding: 16px 10px;
}

.navbar-navigation-upper li:not(.navbar-selected):hover {
  color: #767676;
}

.navbar-selected {
  font-weight: bold;
}

.navbar-navigation-lower {
  position: absolute;
  display: flex;
  list-style-type: none;
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  justify-content: center;
  top: 1px;
  padding-inline-start: 0px;
  margin: 0;
  padding-right: 40px;
  color: #222;
}

.navbar-navigation-lower li {
  vertical-align: middle;
  padding: 20px 10px;
}

.navbar-navigation-dom {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 97px;
  right: 0;
  width: 100%;
  height: 53px;
  border-bottom: none;
  background-color: #ffffff;
  opacity: .95;
}

.navbar-navigation-logo {
}

.navbar-navigation-logo-image {
  width: 150px;
}


.navbar-navigation-signin {
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  margin: 0 15px;
  min-width: 3.5em;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-navigation-signin-link {
  text-decoration: none;
  color: #767676;

}

.navbar-upper-dropdown-container {
  position: absolute;
  top: 97px;
  left: 0;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  background-color: #ffffffc0;
  z-index: 5;
}

.navbar-upper-dropdown {
  display: flex;
}

.navbar-upper-dropdown-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border: solid #aaa 1px;
  border-top: none;
  padding: 0 40px;
  margin: 0;
  align-items: center;
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  color: #222;
  background-color: #fff;
  z-index: 10;
}

.navbar-upper-dropdown-menu li {
  padding: 27px 10px;
}

.navbar-upper-dropdown-menu li:hover {
  color: #767676;
}

.navbar-sale {
  color: #e00000;
}

.navbar-lower-dropdown-container {
  position: relative;
  text-align: left;
}

.navbar-lower-dropdown {
  position: absolute;
  top: 0;
  left: -10px;
  margin: 0;
  background-color: #ffffff;
  z-index: 5;
}

.navbar-lower-dropdown-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0;
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  color: #222;
  padding: 0 20px 10px 20px;

}

.navbar-lower-dropdown-menu li {
  margin: 0;
  padding: 0 0 10px 0;
  white-space: nowrap;
}

.navbar-navigation-lower li:not(.navbar-selected):hover {
  color: #767676;
}

.navbar-lower-dropdown .navbar-lower-dropdown-menu li:hover {
  color: inherit;
  text-decoration: underline;
}

li:hover {
  cursor: pointer;
}

.navbar-popular-item-image {
  height: 217px;
}

.navbar-popular-item-image:hover {
  opacity: .8;
  cursor: pointer;
}

.navbar-search-popular {
  box-sizing: border-box;
  padding: 25px 5px 30px 20px;
  width: 500px;
}

.navbar-popular-header {
  font: .55rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  margin: 0 0 10px 10px;
  padding: 0 0 5px 0;
  color: #767676;
  border-bottom: solid #aaa 1px;
}

.navbar-popular-header p {
  margin: 0;
  padding: 0;
}

.navbar-popular-header-search-str {
  font-size: .68rem;
  line-height: .8;
  color: #222;
  margin: 0;
  padding: 0;
}

.navbar-popular-container {

  display: flex;
  flex-direction: row;

}

.navbar-popular-item-description {
  padding-right: 10px;
}

.navbar-popular-item-header {
  font: .68rem/1.3 helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  color: #767676;
  margin-top: 5px;
}

.navbar-popular-item-header:hover {
  cursor: pointer;
}

.navbar-popular-item {
  width: 145px;
  padding: 0 0 0 10px;
}

.navbar-search-trending {
  box-sizing: border-box;
  padding: 25px 30px 25px 35px;
  width: 100%;
}

.navbar-trending-header {
  font: .55rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  color: #767676;
  border-bottom: solid #aaa 1px;
}

.navbar-suggestions-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 0 20px 0;
  margin: 0;
}

.navbar-trending-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-trending-item {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 0 5px 5px 0;
  display: inline-block;
}

.navbar-trending-item p {
  font: .6rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  color: #767676;
  margin: 0;
  padding: 0;
}

.navbar-trending-item p:before {
  display: inline-block;
  content: '';
  margin-right: 5px;
  width: 8px;
  height: 8px;
  background: url('https://www.urbanoutfitters.com/static/2.23.0/images/global/icons/icon-search.svg');
}

.navbar-suggestions-item p {
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  color: #222;
  margin: 0;
  padding: 0 0 7px 0;
}
 /*
                                                 ##
                                                 ##
                                                 ##
     #####    #####    ######  ## ###    #####   ######
    ##       ##   ##  ##   ##  ###      ##       ##   ##
     ####    #######  ##   ##  ##       ##       ##   ##
        ##   ##       ##  ###  ##       ##       ##   ##
    #####     #####    ### ##  ##        #####   ##   ##


 */

.navbar-search-suggestions-container {
  position: relative;
  text-align: left;
}

.navbar-search-suggestions {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
  top: -1px;
  width: 700px;
  border: solid #ddd 1px;
  background-color: #fff;
}

.navbar-navigation-search {
  width: 200px;
  display: inline-flex;
  justify-content: flex-end;
  background-color: #fff;
}

.navbar-search-anchor {
  height: 26px;
}

.navbar-search-input {
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  color: #222;
  border: none;
  width: calc(100% - 25px);
  margin: 0 5px 0 0;
}

.navbar-search-input:focus::placeholder {
  opacity: 0;
}

.navbar-search-input:focus {
  outline-color: #767676;
}

.navbar-search-form {
  float: right;
  margin: 0;
}

.navbar-search-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: solid #ddd 1px;
  z-index: 15;
  width: 127px;
}

.navbar-search-wrapper:hover {
  cursor: pointer;
}

.navbar-search-wrapper:hover > .navbar-search-input::placeholder {
  color: #222;
}

.navbar-search-icon {
  margin: 5px 2px 5px 7px;
  width: 16px;
  height: 16px;
  fill: #aaa;
}

.navbar-header {
  width: 100%;
  z-index: 9999;
}

.navbar-header-fixed {
  width: 100%;
  position: fixed;
  top: -50px;
  z-index: 9999;
}

/*
              ##                                  ##
              ##                                  ##

    #####   ####      ######  ## ###            ####     ## ###
   ##         ##     ##   ##  ###  ##             ##     ###  ##
    ####      ##     ##   ##  ##   ##             ##     ##   ##
       ##     ##     ##   ##  ##   ##             ##     ##   ##
   #####    ######    ######  ##   ##           ######   ##   ##
                          ##
                      #####
*/

.navbar-signin {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: calc((100vh - 496px) / 2);
  left: calc((100% - 475px) / 2);
  width: 475px;
  height: 496px;
  margin: 0;
  padding: 40px 40px;
  background-color: white;
}

.navbar-signin-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh + 52px);
  background-color: #f5f5f5b0;
  z-index: 20;
}

.navbar-signin-x-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  fill: #aaa;
  cursor: pointer;
}

.navbar-signin-header {
  font: 1.6rem "Francois One", sans-serif;
  letter-spacing: .02rem;
  color: #222;
  padding: 0;
  margin: 0 0 38px 0;
}

.navbar-signin-form {
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .02rem;
  text-align: left;
  padding: 0 0 20px 0;
  border-bottom: solid #aaa 1px;
}

.navbar-signin-emai, .navbar-signin-password {
  display: block;
  width: 100%;
  text-align: left;
}

.navbar-signin-form input {
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .02rem;
  box-sizing: border-box;
  border: black solid 1px;
  width: 100%;
  height: 44px;
  padding: 10px;
  margin: 5px 0 20px 0;
}

.navbar-signin-password {

}

.navbar-signin-forgot-link {
  color: #767676;
}

.navbar-signin-forgot-link-wrapper {
  margin-bottom: 30px;
}

.navbar-signin-button-signin {
  font: .9rem helvetica, arial, sans-serif;
  letter-spacing: .04rem;
  font-weight: bold;
  height: 44px;
  width: 264px;
  background-color: #222;
  color: #fff;
  border: none;
}

.navbar-signin-button-cancel {
  background: none;
  border: none;
  text-decoration: underline;
  color: #767676;
  margin-left: 15px;
}

.navbar-signin-button-create {
  font: .9rem helvetica, arial, sans-serif;
  letter-spacing: .04rem;
  font-weight: bold;
  height: 44px;
  width: 100%;
  background-color: #fff;
  color: #222;
  border: solid #aaa 2px;
  margin: 30px 0 0 0;
}

.navbar-signin-x-icon:hover {
  fill: #222;
}

.navbar-signin-button-cancel:hover, .navbar-signin-forgot-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.navbar-signin-button-signin:hover {
  cursor: pointer;
  background-color: #333;
}

.navbar-signin-button-cancel:focus, .navbar-signin-button-signin:focus, .navbar-signin-button-create:focus {
  outline: 0;
}

.navbar-signin-button-create:hover {
  border-color: #ddd;
  color: #767676;
  cursor: pointer;
}

.navbar-signin-form input:focus {
  outline-color: #767676;
}

.navbar-header-empty {
  height: 52px;
  width: 100%;
}

.navbar-header-empty-fixed {
  height: 149px;
  width: 100%;
}

/*
                                ##
                                ##
                                ##
    #####    ######  ## ###   ######
   ##       ##   ##  ###        ##
   ##       ##   ##  ##         ##
   ##       ##  ###  ##         ##
    #####    ### ##  ##          ###


*/

.navbar-navigation-cart-container a {
  position: relative;
  color: #767676;
}

.navbar-navigation-cart {

}

.navbar-navigation-cart-qty {
  text-align: center;
  position: absolute;
  left: 11px;
  top: -4px;
  background-color: #222;
  color: #fff;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
}

#bag {
  fill: #aaa;
}

.navbar-cart-item-img {
  width: 50px;
}

.navbar-cart-container {
  position: absolute;
  top: 96px;
  right: 0;
  width: 210px;
  border: solid #ddd 1px;
  border-top: none;
  background: #fff;
  padding: 20px;
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  cursor: pointer;
  text-align: left;
}

.navbar-cart-header {
  font-size: inherit;
  font-weight: bold;
  margin: 0;
}

.navbar-cart-item {
  display: flex;
  padding: 25px 0 20px 0;
}

.navbar-cart-item-details {
  margin: 0;
  padding: 0 20px;
}

.navbar-cart-item-description,
.navbar-cart-item-description-size {
  margin: 0;
}


.navbar-cart-item-description-price,
.navbar-cart-item-description-color {
  margin: 0;
  padding: 0 0 20px 0;
}

.navbar-cart-button-checkout {
  font: .9rem helvetica, arial, sans-serif;
  letter-spacing: .04rem;
  font-weight: bold;
  height: 44px;
  width: 100%;
  background-color: #222;
  color: #fff;
  border: none;
}

.navbar-cart-button-checkout:hover {
  background-color: #333;
  cursor: pointer;
}

.navbar-cart-item-description-price::before {
  content: '$';
}

.navbar-cart-item-description-color::before {
  content: 'Color: ';
  font-weight: bold;
}

.navbar-cart-item-description-size::before {
  content: 'Size: ';
  font-weight: bold;
}

/*
                                                           ##
                                                           ##
                                                           ##
    ######   #####    #####    #####   ##   ##  ## ###   ######
   ##   ##  ##       ##       ##   ##  ##   ##  ###  ##    ##
   ##   ##  ##       ##       ##   ##  ##   ##  ##   ##    ##
   ##  ###  ##       ##       ##   ##  ##  ###  ##   ##    ##
    ### ##   #####    #####    #####    ### ##  ##   ##     ###


*/

.navbar-navigation-account,
.navbar-navigation-account-selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 100%;
  text-align: left;
}

.navbar-navigation-account {
  color: #767676;
}

.navbar-navigation-account-label {
  white-space: nowrap;
  font: .68rem helvetica, arial, sans-serif;
  letter-spacing: .03rem;
  text-decoration: none;
  color: inherit;
}

.navbar-navigation-account-arrow {
  width: 10px;
  height: 6px;
  margin: 0 0 0 5px;
  fill: #333;
}

.navbar-navigation-account-arrow-flipped {
  width: 10px;
  height: 6px;
  margin: 0 0 0 5px;
  fill: #000;
  transform: rotate(180deg);
}

.navbar-navigation-account-selected {
  color: #222;
}

.navbar-navigation-account-selected:hover {
  cursor: pointer;
}

.navbar-account-dropdown-container {
  position: absolute;
  top: 17px;
  right: -61px;
  margin: 29px 0 0 0;
  padding: 0px 20px 5px 20px;
  border: solid #ddd 1px;
  border-top-color: #fff;
  background-color: #fff;
}

.navbar-account-dropdown-list {
  list-style-type: none;
  white-space: nowrap;
  padding-inline-start: 0;
  margin: 0;
  color: #333;
}

.navbar-account-dropdown-list li {
  margin: 0;
  padding: 0 0 20px 0;
}

.navbar-account-dropdown-list li:hover {
  text-decoration: underline;
}